.App {
  text-align: center;
}

body{
  background-color: whitesmoke;
}

.form-container{
  background-color: white;
  width: 600px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
  padding-top: 5px;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.add-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.inputfield{
  width: 60%;
}

.heading{
  color: blue;
  margin-top: 30px;
  margin-bottom: 20px;
}

.sub-heading{
  color: blue;
}